---
import { SewingPin } from "@astropub/icons";
---

<nav class="h-1/6 grid grid-cols-2 place-items-center ">
  <div>
    <img src="" alt="" />
    <ul class="flex gap-4">
      <li><a href="/">Menu</a></li>
      <li><a href="/">Rewards</a></li>
    </ul>
  </div>
  <div>
    <ul class="flex gap-4 items-center">
      <li><a href="/" class="flex items-center gap-2"><span><SewingPin size="24" /></span>Localizar tienda</a></li>
      <li><button class="border-2 border-black rounded-full w-28 py-1">Ingresar</button></li>
      <li><button class="rounded-full bg-black text-white w-28 py-1 border-2 border-black">Unete</button></li>
    </ul>
  </div>
</nav>
